<!-- wraps inputs as a 'get' form, and returns results to the root_path -->
<%= form_tag root_path, :method => :get do %>
  <div id="top-bar">
    <!-- small text box with the ID 'search' -->
    <%= text_field_tag :search, params[:search], :placeholder => 'Search for sounds...', :class => 'search-bar' %>
    <!-- select input for tracks / users / playlists filtered search -->
    <%= select_tag(:filter, options_for_select([['Tracks', '/tracks'],['People', '/users'],['Playlists', '/playlists']], :selected => params[:filter]), { :class => 'search-filter'} ) %>

    <%= submit_tag 'Search', :class => 'search-button' %>
  </div>
<% end %>

<div id="search-results">
  <!-- Search results sent from search function in pages controller -->
  <% if @tracks.present? %>
    <table id='player' class='tablesorter-default'>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Username</th>
          <th>Duration</th>
          <th>Plays</th>
          <th>Likes</th>
          <th>Genre</th>
          <th>Bpm</th>
          <th>Added</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tracks.each do |t| %>
          <tr data-uri="<%= t.uri %>"> <!-- send uri data to JS, listens for click -->
            <td class="icon"> <!-- img link for now playing icon -->
              <img src="http://aweebitirish.com/wp-content/uploads/2014/04/soundcloud-play-button.png" alt="" width="20">
            </td>
            <td>
              <%= t.title %>
            </td>
            <td>
              <% if t.user["username"].present? %>
                <%= t.user["username"] %>
              <% end %>
            </td>
            <td>
              <% if t.duration.present? %>
                <% time = t.duration %>
                <% time = Time.at(time/1000).gmtime.strftime('%R:%S') %>
                <% time.gsub!(/^00:/, '') %>
                <% time.gsub!(/^0/, '') %>
                <%= time %>
              <% end %>
            </td>
            <td>
              <%= t.playback_count %>
            </td>
            <td>
              <%= t.favoritings_count %>
            </td>
            <td>
              <% if t.genre.present?%>
                <%= t.genre.titleize %>
              <% end %>
            </td>
            <td>
              <% if t.bpm.present? %>
                <%= t.bpm %>
              <% end %>
            </td>
            <td>
              <%= time_ago_in_words(t.created_at).capitalize %>
            </td>
            <td>
              <% if t.downloadable != false %>
                <div id="dl-column-sort-fix">
                  <%= t.downloadable %>
                </div>
                <img src="http://i.imgur.com/UySvGq8.png" class="dl-img" alt="" width="20">
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if @users.present? %>
    <% @users.each do |u| %>
      <div id="user">
        <ul>
          <%= link_to(image_tag(u.avatar_url, size: "120x120", :class => 'user-avatar', :alt => "avatar", :title => "user-avatar"), "#") %>
          <div id="user-objects">
            <li><%= link_to(u.username, "#") %></li>

            <% if u.full_name.present? %>
              <li><%= u.full_name.titleize %></li>
            <% end %>

            <% if u.city.present? && u.country.present? %>
              <li><%= u.city.titleize%> / <%= u.country.titleize %></li>
            <% else%>
              <% if u.city.present? %>
                <li><%= u.city.titleize %></li>
              <% end %>
              <% if u.country.present? %>
                <li><%= u.country.titleize %></li>
              <% end %>
            <% end %>

            <li class="users-followers-track"><img src="http://i.imgur.com/2nYngT3.png" class="followers-img"><%= u.followers_count %><img src="http://i.imgur.com/aTegYgV.png" class="trackcount-img"><%= u.track_count %></li>
          </div>
        </ul>
      </div>
    <% end %>
  <% end %>

  <% if @playlists.present? %>
    <% @playlists.each do |p| %>
      <ul>
        <li><%= p.title %></li>
        <ul>
          <% if p.user["username"].present? %>
            <li>Username: <%= p.user["username"].titleize %></li>
          <% end %>

          <li>
            <% if p.duration.present? %>
              <% time = p.duration %>
              <% time = Time.at(time/1000).gmtime.strftime('%R:%S') %>
              <% time.gsub!(/^00:/, '') %>
              <% time.gsub!(/^0/, '') %>
              Duration: <%= time %>
            <% end %>
          </li>

          <li>Track count: <%= p.track_count %></li>

          <li>Date added: <%= time_ago_in_words(p.created_at) %></li>

          <% if p.genre.present?%>
            <li>Genre: <%= p.genre.titleize %></li>
          <% end %>
        </ul>
      </ul>
    <% end %>
  <% end %>

  <div id="player_target">
  </div>
</div>
