<!-- wraps inputs as a 'get' form, and returns results to the root_path -->
<%= form_tag root_path, :method => :get do %>
  <!-- small text box with the ID 'search' -->
  <%= text_field_tag :search %>
  <!-- select input for tracks / users / playlists filtered search -->
  <%= select_tag(:filter, options_for_select([['Tracks', '/tracks'],['People', '/users'],['Playlists', '/playlists']], :selected => params[:filter]) ) %>

  <!-- dynamically display tracks search sort_by options -->
  <% if @tracks.present? && params[:search].present? %>
    <div class="dynamic-button-1">
      <%= select_tag(:sort_by_title, options_for_select([['Title (None)'], ['Title (Ascending)', 'ascending'], ['Title (Descending)', 'descending']]) ) %>
      <%= select_tag(:sort_by_duration, options_for_select([['Duration (None)'], ['Duration (Ascending)', 'ascending'], ['Duration (Descending)', 'descending']]) ) %>
      <%= select_tag(:sort_by_playback_count, options_for_select([['Plays (None)'], ['Plays (Ascending)', 'ascending'], ['Plays (Descending)', 'descending']]) ) %>
      <%= select_tag(:sort_by_favoritings_count, options_for_select([['Likes (None)'], ['Likes (Ascending)', 'ascending'], ['Likes (Descending)', 'descending']]) ) %>
      <%= select_tag(:sort_by_created_at, options_for_select([['Added (None)'], ['Added (Ascending)', 'ascending'], ['Added (Descending)', 'descending']]) ) %>
      <%= select_tag(:sort_by_genre, options_for_select([['Genre (None)'], ['Genre (Ascending)', 'ascending'], ['Genre (Descending)', 'descending']]) ) %>
      <%= select_tag(:sort_by_bpm, options_for_select([['BPM (None)'], ['BPM (Ascending)', 'ascending'], ['BPM (Descending)', 'descending']]) ) %>
    </div>
  <% end %>

  <%= submit_tag 'search!' %>

<% end %>

<!-- Search results sent from search function in pages controller -->
<% if @tracks != nil && params[:search] != "" %>
  <% @tracks.each do |t| %>
    <ul>
      <li><%= t.title %></li>
      <ul>
        <% if t.user["username"].present? %>
          <li>Username: <%= t.user["username"] %></li>
        <% end %>

        <li>
          <% if t.duration.present? %>
            <% time = t.duration %>
            <% time = Time.at(time/1000).gmtime.strftime('%R:%S') %>
            <% time.gsub!(/^00:/, '') %>
            <% time.gsub!(/^0/, '') %>
            Duration: <%= time %>
          <% end %>
        </li>

        <li>Playback count: <%= t.playback_count %></li>

        <li>Favourites: <%= t.favoritings_count %></li>

        <% if t.genre.present?%>
          <li>Genre: <%= t.genre.titleize %></li>
        <% end %>

        <li>Date added: <%= time_ago_in_words(t.created_at) %></li>

        <% if t.downloadable != false %>
          <li>Downloadable: <%= t.downloadable %></li>
        <% end %>
      </ul>
    </ul>
  <% end %>
<% end %>

<% if @users != nil && params[:search] != "" %>
  <% @users.each do |u| %>
    <ul>
      <li><%= u.username %></li>
      <ul>
        <% if u.full_name.present? %>
          <li>Full name: <%= u.full_name.titleize %></li>
        <% end %>

        <% if u.city.present? %>
          <li>City: <%= u.city.titleize %></li>
        <% end %>

        <% if u.country.present? %>
          <li>Country: <%= u.country.titleize %></li>
        <% end %>

        <li>Followers: <%= u.followers_count %></li>

        <li>Tracks: <%= u.track_count %></li>
      </ul>
    </ul>
  <% end %>
<% end %>

<% if @playlists != nil && params[:search] != "" %>
  <% @playlists.each do |p| %>
    <ul>
      <li><%= p.title %></li>
      <ul>
        <% if p.user["username"].present? %>
          <li>Username: <%= p.user["username"].titleize %></li>
        <% end %>

        <li>
          <% if p.duration.present? %>
            <% time = p.duration %>
            <% time = Time.at(time/1000).gmtime.strftime('%R:%S') %>
            <% time.gsub!(/^00:/, '') %>
            <% time.gsub!(/^0/, '') %>
            Duration: <%= time %>
          <% end %>
        </li>

        <li>Track count: <%= p.track_count %></li>

        <li>Date added: <%= time_ago_in_words(p.created_at) %></li>

        <% if p.genre.present?%>
          <li>Genre: <%= p.genre.titleize %></li>
        <% end %>
      </ul>
    </ul>
  <% end %>
<% end %>
