<div id="accounts_new_page">
  <div id="errors_accounts">
    <% if @account.errors.any? %>
      <h1> YOU MASSIVE IDIOT</h1>
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div id="outer_form_accounts">
    <div id="form_accounts">
      <%= form_for @account do |f| %>
        <p>
          <%= f.label :username %>
          <%= f.text_field :username, :autofocus => true %>
        </p>
        <p>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </p>
        <p>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </p>
        <p>
        <%= f.submit %>
        </p>
      <% end %>
    </div>
  </div>
</div>
